@import 'statics';

#gitcal{
    color: $color3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem;
    text-align: center;
    > h1 {
        font: 700 2.5 $text2;
        width: fit-content;
        border-bottom: 1px solid $color6_1;
        color: $color6;
        padding: 0.5rem;
        margin: 0 0 4rem 0;
    }
}