@import 'statics.scss';

@media screen and (max-width:1367px) {
    nav{
        padding: 0 $p_md;      
    }

    #home {
        height: 100vh;
        >section {
            &:first-of-type {
                padding-left: $p_md;
                > div aside {
                    width: 85%;
                }
            }
        }
    }

    #work{
        padding: 8rem $p_md;
        height: 110vh;
        
        >section{
            >article {
                height: 20rem;
                width: 90%;
            }
            .workItem{
                padding: 2rem;
                height: 20rem;
                >aside{
                    >p{
                        margin: 1rem;
                    }
                    >a{
                        margin: 1rem;
                    }
                }
            }
        }
    }

    #services{
        padding-left: 3vmax;
        padding-right: 3vmax;
        >section{
            height: 80%;
            width: 90%;
        }
    }

    #testimonial{
        
        >.testimonialCard >section{
            padding: 3vmax;
            width: 100%;
            
        }
    }

    #contact{
        >section > form{
            >input,>button{
                font:400 0.8rem, $text1;
                width: 50%;
            }
        }
    }
    footer{
        padding-left: $p_md;
    }
}
























@media screen and (max-width:1100px) {
    nav{
        padding: 0 $p_base;   
        >h2{
            font-size: 1.8rem;
        }

        >div{
            gap: 1rem;
        }   
    }

    #home {
        height: 110vh;
        >section {
            &:first-of-type {
                padding-left: $p_base;
                > div {
                    >h1{
                        font:900 3rem $text1;
                    }
                    aside {
                        width: 100%;
                    }
                }
            }
        }
    }

    #work{
        padding: 8rem $p_base;
    }

    #services{
        padding: 17vmax 2vmax;
        text-align: center;
    }

    #testimonial{
        
        >.testimonialCard{
            padding: 3rem;
            >section{
                padding: 3vmax;
                width: 100%;
                >article{
                    > * {
                        margin: 1rem;
                    }
                }
            }
        } 
        
    }

    #contact{
        >section > form{
            >input,>button{
                font:400 0.8rem, $text1;
                width: 50%;
            }
        }
    }
    footer{
        padding-left: $p_md;
    }
}



























@media screen and (max-width:950px) {
    nav{
        padding: 0 $p_sm;      
        >h2{
            font-size: 1.8rem;
        }
        >div{
            gap: 1rem;
        }
    }

    #home {
        >section {
            &:first-of-type {
                padding-left: $p_sm;
                > div {
                    >div{
                        gap: 2rem;
                        width: 100%;
                    }
                    aside{
                        width: 85%;
                        flex-direction: column;
                    }
                }
                
            }
        }
    }

    #work{
        padding: 8rem $p_zero;
        height: 110vh;
        
        >section{
            >article {
                height: 25rem;
            }
            .workItem{
                height: 25rem;
            }
        }
    }

    #services{
        >section{
            height: 70%;
            width: 90%;
        }
    }

    #testimonial{
        
        >.testimonialCard{
            
            padding: 2rem;
            >section{
                justify-content: space-evenly;
                padding: 2vmax;
                width: 100%;
                >article{
                    
                    > * {
                        margin: 0.6rem;
                    }
                }
            }
        } 
        
    }

    #contact{
        >section > form{
            >h2{
                font: 100 2.3rem $text2;
            }
            >input,>button{
                width: 65%;
            }
        }
    }
    footer{
        padding-left: $p_zero;
        grid-template-columns: 1fr;
        >div{
            
            width: 100%;
            border: none;
            p {
                width: 50%;
                margin:2rem auto;
            }
        }
        > mark{
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                margin: 1rem;
            }
        } 
        
    }
}
