@import 'statics.scss';

@media screen and (max-width:1367px) {
    nav {
        padding: 0 $p_md;
    }

    #home {
        >section {
            >div {
                padding: 3rem;
            }
        }
    }

    #work {
        padding: 8rem $p_md;
        height: 110vh;

        >section {
            >article {
                height: 20rem;
                width: 90%;
            }

            .workItem {
                padding: 2rem;
                height: 20rem;

                >aside {
                    >p {
                        margin: 1rem;
                    }

                    >a {
                        margin: 1rem;
                    }
                }
            }
        }
    }

    #services {
        padding-left: 3vmax;
        padding-right: 3vmax;

        >section {
            height: 80%;
            width: 90%;
        }
    }

    #testimonial {

        >.testimonialCard>section {
            padding: 3vmax;
            width: 100%;

        }
    }

    #contact {
        >section>form {

            >input,
            >button {
                font: 400 0.8rem, $text1;
                width: 50%;
            }
        }
    }

    footer {
        padding-left: $p_md;
    }
}
























@media screen and (max-width:1200px) {
    #home {
        >section {

            >div {
                padding: 2rem;

                >.right {
                    >img {
                        height: 300px;
                    }
                }
            }
        }
    }

    nav {
        padding: 0 $p_base;

        >h2 {
            font-size: 1.8rem;
        }

        >div {
            gap: 1rem;
        }
    }

    #work {
        padding: 8rem $p_base;
    }

    #services {
        padding: 17vmax 2vmax;
        text-align: center;
    }

    #testimonial {

        >.testimonialCard {
            padding: 3rem;

            >section {
                padding: 3vmax;
                width: 100%;

                >article {
                    >* {
                        margin: 1rem;
                    }
                }
            }
        }

    }

    #contact {
        >section>form {

            >input,
            >button {
                font: 400 0.8rem, $text1;
                width: 50%;
            }
        }
    }

    footer {
        padding-left: $p_md;
    }
}








@media screen and (max-width:980px) {
    nav {

        >div,
        >a {
            display: none;
        }

        >button {
            display: inline;
        }
    }
}

















@media screen and (max-width:900px) {


    footer {
        padding-left: $p_zero;
        grid-template-columns: 1fr;

        >div {

            width: 100%;
            border: none;

            p {
                width: 50%;
                margin: 2rem auto;
            }
        }

        >mark {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                margin: 1rem;
            }
        }

    }


}










@media screen and (max-width:850px) {

    #home {
        >section {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            height: 100%;

            >div {
                flex-direction: column-reverse;

                >.left {
                    width: 100%;
                    flex-direction: column;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    >h1 {
                        text-align: center;
                    }

                    >p {
                        text-align: center;
                    }
                }

                >.right {
                    >img {
                        height: 300px;
                    }
                }
            }
        }
    }
}
























@media screen and (max-width:720px) {

    #work {

        >section {

            >article {
                width: 100%;
                height: 30vmax;

            }

            .workItem {
                height: 30vmax;
                box-shadow: 0 0 5px $color1;

                >aside {
                    margin: 1rem;

                    >h3 {
                        margin: 1rem;
                        font-size: 20px;
                    }

                    >p {
                        letter-spacing: 0ch;
                        line-height: unset;
                        margin: 0;
                        font-size: 0.5rem;
                    }

                    >a {
                        padding: 0.2rem 0.6rem;
                        font-size: 0.7rem;
                        margin: 1rem;
                    }
                }

            }
        }
    }




    #timeline {
        .timelineBox::after {
            left: 31px;

        }

        .timelineItem {
            width: 100%;
            padding-left: 5rem;
            padding-right: 2rem;
        }

        .rightTimeline {
            left: 0%;
        }

        .rightTimeline,
        .leftTimeline {
            &::after {
                left: 15px;
            }
        }

    }


    #services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        >section {
            margin: 3rem 0;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }

    #testimonial {

        >.testimonialCard {

            padding: 2rem;
            height: unset;

            >section {
                height: 100%;
                justify-content: space-evenly;
                padding: 2vmax;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;

                >article {
                    width: 15rem;
                    height: 25rem;
                    margin: 1rem;
                    padding: 2rem;

                    >* {
                        margin: 0.3rem;
                    }
                }
            }
        }

    }



    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >section>form {
            >h2 {
                font: 100 2.3rem $text2;
            }

            >input,
            >button {
                width: 65%;
            }
        }
        aside {
            padding: 1rem;
        }
    }
}


@media screen and (max-width:520px) {

    nav{
        > h2 {
            font-size: 1rem;
        }
    }

    #home {
        >section {
            >div {
                padding: 2rem;
                >.left{
                    >.h1{
                        font-size: 2rem;
                    }
                    >Typewriter{
                        font-size: 0.5rem
                    }
                    >button{
                        padding: 1rem;
                    }
                }
                >.right {
                    >img {
                        height: 200px;
                    }
                }
            }
        }
    }
}






























@media screen and (max-width:400px) {

    #home {
        >section {
            >div {
                padding: 1rem;
                >.left{
                    >.h1{
                        font-size: 2rem;
                    }
                    .typewriterpara {
                        height: 15px;
                        font-size: 15px;
                        letter-spacing: 2px;
                    }
                    >button{
                        padding: 1rem;
                    }
                }
                >.right {
                    >img {
                        height: 200px;
                    }
                }
            }
        }
    }


    #services {
        >section {
            margin: 4rem 0;
            grid-template-columns: repeat(1, 1fr);
        }
    }


    #gitcal{
        margin: 2rem;
        > h1 {
            font-size: 2rem;
        }
    }

}